version: '3.8'

services:
  discord-bot:
    build: .
    container_name: minecraft-discord-bot
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - TOKEN=${TOKEN}
      - PORT=3000
    env_file:
      - Discordtoken.env
